.baslikKutusu {
  border-radius: 8px;
  background: #214813;
}

.text-acikYesil {
  color: #214813;
}

h3 {
  font-weight: 700;
}

.yemekKutusu {
  border-radius: 8px;
  background: #FFF;
  transition: .3s all ;
}

.yemekKutusu:hover {
  scale: 1.02;
}